.card{
    transition: all 2s ease;
}

.card :hover{
    scale: 1.1;
    transition: all 2s ease;
}

.card :hover{
  scale: 1.1;
  transition: all 2s ease;
}

.jumbotron {
    padding: 5px 0; /* Ajusta el padding superior e inferior */
}


.contlog{
  margin-bottom: 9.2%;
}


footer {
    padding: 10px 0; /* Espaciado vertical para el footer */
    color: #343a40; /* Color del texto (puedes cambiarlo según tu preferencia) */
    border-top: 1px solid #dee2e6; /* Borde superior para separar el footer del resto del contenido */
    margin: 0%;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.btn-carrito img {
    width: 50px; /* Cambia este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
.btn-carrito {
    padding: 5px; /* Ajusta el espacio alrededor del botón */
}

/* Estilo base */
.neon-effect {
    color: rgb(12, 11, 11);
    font-size: 22px;
    padding: 10px;
    transition: all 0.3s ease;
    text-decoration-line: none;
  }

  /* Efecto neón al pasar el cursor */
  .neon-effect:hover {
    color: rgb(5, 5, 5);
    text-shadow: 0 0 5px #77530a, 0 0 10px #8f630b, 0 0 20px rgb(196, 144, 12), 0 0 40px #ffd277, 0 0 80px rgb(214, 190, 52);
    border-color:  #ffd277;
    text-decoration-line: none;
    scale: 1.1;
  }

 /*boton*/
  .Dorado {
    border: 2px solid black;
    /* Añade un borde negro de 2px */
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: #0c0c0c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 1s;
  }
  
  .Dorado::after {
    /* Añade contenido al pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
    transition-duration: 1s;
    z-index: -1;
    /* Asegura que el pseudo-elemento esté detrás del contenido del botón */
  }
  
  .Dorado:hover {
    background-position: right;
  }
  
  #1:hover::after {
    background-position: right;
  }
  
  #1:active {
    transform: scale(0.95);
  }
  /*boton*/

  /*Letras*/
  .DoradoL {
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold; /* Negrita para mejor visibilidad */
    background: linear-gradient(to right, #c88b0f, #ffd277, #77530a, #ad7b17, #ffd277, #875f0f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Hace el texto transparente para que el fondo lo rellene */
    background-size: 200%;
    transition: background-position 1s ease;
  }
  
  .DoradoL:hover {
    background-position: right; /* Desplaza el degradado para el efecto de brillo al hacer hover */
  }
  /*Letras*/
  
  .Formulario{
    background-color: #dee2e6;
  }

  .ContentForm{
    padding: 5%;
  }

  .centrado{
    text-align: center;
  }

  .transparente {
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */
    color: rgb(201, 193, 165);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

/*lista*/
ul.inactive {
  display: none; /* Oculta el submenú */
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-left: 20px;
  list-style: none;
}

/* Al pasar el mouse sobre el enlace principal, se activa el submenú */
li.nav-item:hover ul.inactive {
  display: block; /* Muestra el submenú */
  opacity: 1; /* Hace el submenú visible */
}

ul.inactive li a {
  text-decoration: none;
  color: #f6e5b1;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

ul.inactive li :hover {
  background-color: #f3e9ca;
  color: #0c0c0c;
}

/* Estilo del enlace principal */
a.neon-effect.Dorado {
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  font-size: 18px;
}
/*lista*/

 /* Cambiar el tamaño del div cuando la pantalla es menor o igual a 768px (tablet) */
 @media screen and (max-width: 768px) {
  .contlog {
      width: 80%; /* Cambiar el ancho a 80% cuando la pantalla sea pequeña */
  }
}

/* Cambiar el tamaño del div cuando la pantalla es menor o igual a 480px (móvil) */
@media screen and (max-width: 480px) {
  .contlog {
      width: 100%; /* Ancho al 100% en pantallas más pequeñas */
  }
}

.imacentrada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto dentro del div */
  margin-bottom: 30px; /* Espacio entre secciones */
}